- content_for :title, "Greece in America, Issue 14"
- content_for :client_preview, "PM Antonis Samaras to meet with President Obama. Greece on the Natural Gas Pipeline Map. Greek Cinema: Tassos Boulmetis."

= partial "/partials/article", article_title: "PM Antonis Samaras to meet with President Obama", article_url: "http://www.mfa.gr/usa/en//", article_text: "Prime Minister Antonis Samaras will visit Washington on August 8th, and he will meet with President Obama at the White House. The two leaders will discuss a number of bi- lateral, regional and international issues of common inter- est."

= partial "/partials/article", article_title: "PM Antonis Samaras to meet with President Obama", article_url: "http://www.mfa.gr/usa/en//", article_text: "Prime Minister Antonis Samaras will visit Washington on August 8th, and he will meet with President Obama at the White House. The two leaders will discuss a number of bi- lateral, regional and international issues of common inter- est."

= partial "/partials/article", article_title: "PM Antonis Samaras to meet with President Obama", article_url: "http://www.mfa.gr/usa/en//", article_text: "Prime Minister Antonis Samaras will visit Washington on August 8th, and he will meet with President Obama at the White House. The two leaders will discuss a number of bi- lateral, regional and international issues of common inter- est."

= partial "/partials/article", article_title: "PM Antonis Samaras to meet with President Obama", article_url: "http://www.mfa.gr/usa/en//", article_text: "Prime Minister Antonis Samaras will visit Washington on August 8th, and he will meet with President Obama at the White House. The two leaders will discuss a number of bi- lateral, regional and international issues of common inter- est."

= partial "/partials/article", article_title: "PM Antonis Samaras to meet with President Obama", article_url: "http://www.mfa.gr/usa/en//", article_text: "Prime Minister Antonis Samaras will visit Washington on August 8th, and he will meet with President Obama at the White House. The two leaders will discuss a number of bi- lateral, regional and international issues of common inter- est."

= partial "/partials/article", article_title: "PM Antonis Samaras to meet with President Obama", article_url: "http://www.mfa.gr/usa/en//", article_text: "Prime Minister Antonis Samaras will visit Washington on August 8th, and he will meet with President Obama at the White House. The two leaders will discuss a number of bi- lateral, regional and international issues of common inter- est."